body {
  font-family: system-ui, sans-serif;
  background: #0a0a0a;
  color: #e5e7eb;
  overflow: hidden;
}

/* Main Topic Header */

.topic-header {
  transition: all 0.2s ease;
}

.topic-header:hover {
  background: #151515;
}

/* Subtopic Header */

.subtopic-header {
  transition: all 0.2s ease;
}

.subtopic-header:hover {
  background: #141414;
}

/* Main Dropdown */

.inner-content {
  max-height: 0;
  overflow: hidden;

  transition:
    max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-content.open {
  max-height: 5000px;
}

/* Nested Dropdown */

.nested-subcontent {
  max-height: 0;
  overflow: hidden;

  transition:
    max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.nested-subcontent.open {
  max-height: 4000px;
}

/* Table */

table {
  border-collapse: collapse;
}

thead th {
  font-size: 12px;
  font-weight: 600;
}

tbody td {
  font-size: 13px;
}

.difficulty-badge{
    padding:4px 12px;
    border-radius:999px;
    font-size:11px;
    font-weight:600;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    min-width:54px;
    border:1px solid transparent;
}

/* Easy */
.difficulty-badge.easy{
    color:#22c55e;
    background:rgba(34,197,94,0.12);
    border-color:rgba(34,197,94,0.18);
}

/* Medium */
.difficulty-badge.medium{
    color:#facc15;
    background:rgba(250,204,21,0.12);
    border-color:rgba(250,204,21,0.18);
}

/* Hard */
.difficulty-badge.hard{
    color:#ef4444;
    background:rgba(239,68,68,0.12);
    border-color:rgba(239,68,68,0.18);
}

/* Scrollbar */

.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* Tab Buttons */

.tab-btn.active {
  background: #2a2a2a;
  color: white;
}

/* Smooth Icons */

.rotate-90 {
  transform: rotate(90deg);
}
